@import 'tailwindcss';

:root {
  background-color: #000c1a;
  color: #ffffe3;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}
.gradient {
  background-image: linear-gradient(
    180deg,
    hsl(212deg 100% 5%) 0%,
    hsl(212deg 94% 6%) 18%,
    hsl(212deg 90% 6%) 26%,
    hsl(212deg 87% 7%) 33%,
    hsl(212deg 85% 7%) 39%,
    hsl(211deg 84% 8%) 44%,
    hsl(211deg 84% 8%) 50%,
    hsl(211deg 84% 9%) 56%,
    hsl(211deg 85% 9%) 61%,
    hsl(211deg 87% 9%) 67%,
    hsl(211deg 89% 10%) 74%,
    hsl(211deg 91% 10%) 82%,
    hsl(211deg 92% 10%) 100%
  );
}

.button {
  border: 1px solid;
  border-color: #ffffe3;
  border-radius: 0.5rem;
  font-weight: 300;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  color: #ffffe3;
}
