@import 'tailwindcss';

:root {
  background-color: #000c1a;
  color: #ffffe3;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}
.gradient {
  background-image: linear-gradient(
    180deg,
    hsl(212deg 100% 5%) 0%,
    hsl(212deg 94% 6%) 18%,
    hsl(212deg 90% 6%) 26%,
    hsl(212deg 87% 7%) 33%,
    hsl(212deg 85% 7%) 39%,
    hsl(211deg 84% 8%) 44%,
    hsl(211deg 84% 8%) 50%,
    hsl(211deg 84% 9%) 56%,
    hsl(211deg 85% 9%) 61%,
    hsl(211deg 87% 9%) 67%,
    hsl(211deg 89% 10%) 74%,
    hsl(211deg 91% 10%) 82%,
    hsl(211deg 92% 10%) 100%
  );
}

.button {
  border: 1px solid;
  border-color: #ffffe3;
  border-radius: 0.5rem;
  font-weight: 300;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  color: #ffffe3;
}
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(to right, #feaf3c, #db662d);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.gradient-header {
  background: -webkit-linear-gradient(#feaf3c, #db662d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-header-alt {
  background: linear-gradient(to right, #77dbf4, #008eab);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  background: -webkit-linear-gradient(#feaf3c, #db662d);
}

.hover-gradient-button:hover {
  background: -webkit-linear-gradient(#feaf3c, #db662d);
  
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: #ffffe3;
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}
