@import 'tailwindcss';

:root {
  background-color: #000c1a;
  color: #ffffe3;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

.gradient {
  background-image: linear-gradient(
    180deg,
    hsl(212deg 100% 5%) 0%,
    hsl(212deg 91% 6%) 18%,
    hsl(212deg 86% 7%) 26%,
    hsl(212deg 85% 8%) 33%,
    hsl(211deg 87% 9%) 39%,
    hsl(211deg 90% 9%) 44%,
    hsl(211deg 94% 10%) 50%,
    hsl(211deg 97% 11%) 56%,
    hsl(211deg 99% 12%) 61%,
    hsl(211deg 100% 12%) 67%,
    hsl(212deg 100% 13%) 74%,
    hsl(212deg 100% 14%) 82%,
    hsl(212deg 100% 15%) 100%
  );
}
